<div ui-content-for="title">
	<a href="#/">ThaiFood.today</a>
</div>

<div ng-if="!data" id="spinnerWrapper">
	<i id="spinner"
	class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	<span class="sr-only">Loading...</span>
</div>

<div ng-if="data" class="scrollable" ui-shared-state="searchBar">
	<input ng-if="Ui.active('searchBar')" type="search" class="form-control scrollable-header" ng-model="searchText" placeholder="Search.." />

	<div class="scrollable-content" ui-scroll-bottom="bottomReached()">	
		<img class="dish-list-image" ng-src="assets/img/categories/{{type}}.jpg" alt="{{type}}" width="600" height="300">
		<h3 class="dish-list-heading">{{ type | underscoreless }}</h3>
		<div class="dish-list list-group">
			<div ng-repeat="dish in dishes | filter:searchText">
				<a class="list-group-item dist-list-item" href="#/{{ type }}/{{$index}}">
					<span ng-if="firebaseUser" class="add-to-fav" ng-click="favToggle($event)" data-id="{{$index}}">
						<i ng-class="dish.favorite ? 'fa fa-star' : 'fa fa-star-o'"></i>
					</span>
					<span class="dish-name">{{ dish.thai_name }} ({{ dish.thai_script }}) <i class="fa fa-chevron-right pull-right"></i></span>
				</a>
			</div>
		</div>
	</div>

	<a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle="searchBar">
		<i class="fa fa-search"></i>
		<span ui-hide="searchBar">Show</span>
		<span ui-show="searchBar">Hide</span>
		Search Bar
	</a>
</div>