<div class="scrollable">
	<div class="scrollable-content">
		<div ng-repeat="(category, dishesArray) in favorites" ng-init="parentIndex = $index" class="dish-favorites-wrap text-capitalize">
			<h4>{{category | underscoreless}}</h4>
			<div ng-repeat="(index, dish) in dishesArray" class="list-group dish-favorites">
				<a class="list-group-item dist-list-item" href="#/{{category}}/{{index}}">
					{{dish}} <i class="fa fa-trash pull-right" ng-click="favoriteRemove($event);"></i>
				</a>
			</div>
		</div>
	</div>
</div>