<div ui-content-for="title">
	<a href="#/">ThaiFood.today</a>
</div>

<div ng-if="!data" id="spinnerWrapper">
	<i id="spinner" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	<span class="sr-only">Loading...</span>
</div>

<div ng-if="data" class="scrollable">
	<div class="scrollable-content">
		<div class="dish-details-image-wrap" style="padding-bottom: {{ dish.image.ratio }}%;">
			<img class="dish-details-image" alt="{{ dish.thai_name }}" lazy-src="https://res.cloudinary.com/siamkreative/image/fetch/w_480,fl_progressive/q_auto:eco/https:{{ dish.image.largeUrl }}" width="{{ dish.image.largeWidth }}" height="{{ dish.image.largeHeight }}">
		</div>
		<div class="dish-details-list-group list-group">
			<div class="list-group-item text-center">
				<h1 class="dish-details-heading">{{ dish.thai_name }} <small>{{ dish.thai_script }}</small></h1>
			</div>
			<div class="list-group-item">{{ dish.description }}</div>
			<div class="list-group-item list-group-item-home">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<a type="button" class="btn btn-default" href="#/{{ type }}"><i class="fa fa-chevron-left"></i> Back</a>
					<a type="button" class="btn btn-default" ng-click="speak(dish.thai_script);"><i class="fa fa-volume-up"></i> <span>Speak</span></a>
					<a ng-if="firebaseUser" type="button" class="btn btn-default" ng-click="favToggle($event)" data-id="{{$index}}">
						<i ng-class="dish.favorite ? 'fa fa-star' : 'fa fa-star-o'"></i> Favorites
					</a>
						<a ng-if="!firebaseUser" type="button" class="btn btn-default" ui-toggle="uiSidebarRight">
						<i ng-class="dish.favorite ? 'fa fa-star' : 'fa fa-star-o'"></i> Favorites
					</a>
				</div>
			</div>
		</div>
	</div>
</div>