<div ui-content-for="title">
	<span class="text-capitalize">ThaiFood.Today</span>
</div>

<div ng-if="!data" id="spinnerWrapper">
	<i id="spinner" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	<span class="sr-only">Loading...</span>
</div>

<div ng-if="data" class="scrollable">
	<div class="scrollable-content">
		<div class="home-content">
			<div class="home-icon">
				<img src="/assets/icons/launcher-icon-4x.png" width="96" height="96" alt="ThaiFood.today">
			</div>
			<div class="home-desc">
				<h3 class="home-heading">Do you want to discover new Thai dishes, today?</h3>
				<p class="home-text">This is for you! This simple app helps tourists and expats discover Thai cuisine. And it also helps you remembering what you like.</p>
			</div>			
		</div>

		<div id="home_list_group" class="list-group dish-categories">
			<a ng-repeat="category in categories" class="list-group-item" href="#/{{category.name}}">{{category.name | underscoreless}} <span class="badge">{{category.length}}</span></a>
		</div>
	</div>
</div>