<div class="scrollable">
    <div class="scrollable-content">
        <div class="user-profile">
            <div ng-show="firebaseUser">
                <p><img class="img-circle" width="100" height="100" src="https://graph.facebook.com/{{ firebaseUser.providerData[0].uid }}/picture?height=200" alt="{{ firebaseUser.displayName }}"></p>
                <p>Hi, <strong>{{ firebaseUser.displayName }}</strong>!</p>
                <p>All your favorites Thai dishes are displayed below:</p>
				<div ng-repeat="(categoryName, category) in data">
					<div ng-repeat="dish in category" ng-init="parentIndex = $index">
						<div ng-show="dish.favorite">
							<a class="list-group-item dist-list-item" href="#/{{categoryName}}/{{parentIndex}}">{{ dish.thai_name }}</a>
						</div>
					</div>
				</div>
                <button class="btn btn-facebook btn-facebook-signout" ng-click="auth.$signOut()">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i></button>
            </div>
            <div ng-hide="firebaseUser">
                <h4>Welcome!</h4>
                <p>Please sign in to save your favorite dishes.</p>
                <p>
                    <button class="btn btn-lg btn-facebook btn-facebook-signin" ng-click="auth.$signInWithPopup('facebook')"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</button>
                </p>
                <p><em>We will never post on your behalf</em></p>
            </div>
        </div>
    </div>
</div>
