#lightbulb {
	font-size: 100px;
	display: block;
	text-align: center;
}

h1 {
	padding: 0;
	margin: 10px 0;
}

.about-dev {
	padding: 10px 15px;
    color: #f5f5f5;
}

.about-dev a {
	color: white;
	text-decoration: underline;
}

.chat-user-avatar {
	font-size: 40px;
	background: #ccc;
	padding: 5px 10px;
}

.feature-icon {
	font-size: 44px;
	padding: 0;
	line-height: 68px;
	width: 72px;
	text-align: center;
	opacity: .8;
	border: 3px solid;
	border-radius: 200px;
	height: 72px;
	margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
	line-height: 60px;
}

.feature-icon.fa-tachometer {
	line-height: 60px;
}

.app-content-loading {
	text-align: center;
	height: 100%;
	width: 100%;
	background: #fff;
	position: relative;
}

.loading-spinner {
	position: absolute;
	font-size: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.carousel-example-content {
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -50px;
}


.carousel-item {
	display: block;
	color: #444;
	background: #f4f4f4;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	opacity: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.carousel {
	padding: 20px;
	overflow: visible;
}

.carousel-inner {
	position: relative;
	overflow: visible;
}

.carousel>.item, .carousel-item {
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.carousel-item {
	-webkit-transition: -webkit-transform 500ms;
	-moz-transition: -moz-transform 500ms;
	transition: transform 500ms;
}

[drag-to-dismiss]{
	transform: translate(0,0); /* NOTE: this is required to prevent mobile webkit issues */
	-webkit-user-drag: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity 300ms, -webkit-transform 300ms;
	-moz-transition: opacity 300ms, -moz-transform 300ms;
	transition: opacity 300ms, transform 300ms;
	opacity: 1;
}

.notices-container {
	overflow-x: hidden;
}

.dismiss {
	-webkit-transition: opacity 300ms, -webkit-transform 300ms;
	-moz-transition: opacity 300ms, -moz-transform 300ms;
	transition: opacity 300ms, transform 300ms;
	opacity: 0.5;
}

.dismitted {
	-webkit-transition: opacity 300ms, -webkit-transform 300ms;
	-moz-transition: opacity 300ms, -moz-transform 300ms;
	transition: opacity 300ms, transform 300ms;
	opacity: 0;
}

.list-group-item-home {
	padding: 20px;
}

pre {
	text-align: left !important;
}

input.scrollable-header {
	border-bottom: 3px solid #ccc;
}

.toucharea {width: 100%; height: 100%;}

.touch-mark {
	position: absolute;
	background-color: #ccc;
	width: 30px;
	height: 30px;
	border-radius: 999px;
	margin-top: -15px;
	margin-left: -15px;
	opacity: .5;
	transform: scale(1, 1);
}

/**
 * Thai Dishes 1.0
 */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.app {
	background: white;
}
#dish_categories img {
	float: left;
	width: 50%;
	height: auto;
}

/**
 * Dish List
 */
.dish-list-image {
	max-width: 100%;
	height: auto;
}
.dish-list-heading {
	text-align: center;
	text-transform: capitalize;
	border-bottom: 1px solid #ccc;
	padding: .75em 0;
	color: #999;
	background-color: #f5f5f5;
	margin: 0;
}
.dish-list {
	margin-bottom: 0px;
}
.dish-list .add-to-fav i {
	font-size: 1.25em;
}

/**
 * Dish Details
 */
.dish-details-image {
	width: 100%;
	height: auto;
}
.dish-details-heading {
	text-transform: capitalize;
}
.dish-details-heading > small {
	display: block;
	margin-top: 0.5em;
}
.dish-details-list-group {
	margin-bottom: 0px;
}

/**
 * Home
 */
.home-content {
	text-align: center;
	padding: 1.5em;
}
.home-icon {
	color: orange;
}

/**
 * Favorites
 */
.sidebar-right {
    background: white;
}
.user-profile {
	text-align: center;
	padding: 2em 0;
}
.btn-facebook {
	color: white;
	background-color: #3b5998;
}
.btn-facebook-signout {
	margin-top: 2em;
}
.dish-favorites-wrap {
	background: #f5f5f5;
}
.dish-favorites-category {
	color: #999;
	padding: 0.5em 0;
	margin: 0;
	text-align: center;
}
.dish-favorites {
	margin-bottom: 0px;
}

/**
 * Sidebar Left
 */
.sidebar-left {
	background: #4696e5;
}
.dish-categories {
	margin-bottom: 0px;
}
.dish-categories .list-group-item:last-child,
.dish-categories a.list-group-item:last-child {
	border-bottom: none;
}
.dish-categories .list-group-item {
	text-transform: capitalize;
}
.dish-categories .list-group-item .fa-chevron-right {
	color: #4696e5;
}
.dish-categories .list-group-item>.badge, .dish-categories .list-group-item.active>.badge, .dish-categories .nav-pills>.active>a>.badge {
	color: #fff;
	background-color: #4696e5;
}
.dish-categories .list-group-item.active, .dish-categories .list-group-item.active:focus {
	color: #4696e5;
	background-color: #ecf0f1;
	border-color: #ccc;
}